/**
 * 视频加载等待层
 */
.MPlayer-loading {
	 width: 100%; 
	 height: 100%;
}
@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.MPlayer-loading .spinner-loader:not(:required) {
	  position: absolute;
	  top: calc(50% - 0.5em);
	  left: calc(50% - 0.5em);
	  animation: spinner-loader 1500ms infinite linear;
	  -moz-border-radius: 0.5em;
	  -webkit-border-radius: 0.5em;
	  border-radius: 0.5em;
	  box-shadow: rgba(255, 255, 255, 0.6) 1.5em 0 0 0, rgba(255, 255, 255, 0.6) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) 0 1.5em 0 0, rgba(255, 255, 255, 0.6) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) -1.5em 0 0 0, rgba(255, 255, 255, 0.6) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.6) 0 -1.5em 0 0, rgba(255, 255, 255, 0.6) 1.1em -1.1em 0 0;
	  display: inline-block;
	  font-size: 10px;
	  width: 1em;
	  height: 1em;
	  overflow: hidden;
}

/**
 * 播放器控件
 */
.MPlayer-control { 
 	font-family: "微软雅黑"; 
 }
.MPlayer-control .circle_inner_play {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    margin: 10px 0 0 7px;
    vertical-align: middle;
}
.MPlayer-control .circle_inner_pause {
    color: #ffffff;
	display:inline-block;
	width:20px;
	height:20px;
	margin: 10px 0 0 7px;
	font-size: 15px;
	vertical-align: middle;
}
.MPlayer-control .circle_inner_pause:after {
    content:"▍▍";
}
.MPlayer-control .full-btn {
	width: 1.1rem;
	margin: auto;
	padding-right: .1rem;
	padding-left: .1rem;
	display: inline-block;
	height: 40px;
	float: right;
	text-align: center;
	cursor: pointer;
	color: slategrey;
	font-size: 12px; 
	line-height: 40px;
}
.MPlayer-control .full-screen:after {
	content: '全屏播放';
}
.MPlayer-control .middle-screen:after {
	content: '退出全屏';
}
.MPlayer-control .danmu-switch {
	width: 1.1rem;
	margin: auto;
	padding-right: .1rem;
	display: inline-block;
	height: 40px;
	float: right; 
	text-align: center;
	cursor: pointer;
	color: slategrey;
	font-size: 12px;
	line-height: 40px;
}
.MPlayer-control .danmu-close:after {
   content: '关闭弹幕';
}
.MPlayer-control .danmu-open:after {
   content: '开启弹幕';
}

/**
 *弹幕
 */
.MPlayer-danmu .danmuRow {
	position : absolute;
    left : 100%;
    white-space : nowrap;
    display:inline-block;
    padding-right: 4px;
    min-height: 25px;
    border-radius: 15px; 
}
.MPlayer-danmu .danmuRow img{
	border-radius: 50%;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

/**
 * 全屏
 */
.MPlayer-full-screen {
    position:fixed !important;
    top:0 !important;
    left:0 !important ;
    height:100% !important;
    width:100% !important;
    background-color: #474747;
	z-index: 999999 !important;
}